<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>4Connect</title>
    <link th:href="@{/main.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/functions.js}"></script>
</head>
<body>

    <div class="title-container">
        <h1>4 CONNECT GAME</h1>
    </div>

    <main>

        <section class="inputs-container">
            <div class="divsInputs-container">
                <div class="creator-container">
                    <input class="input-user" type="text" placeholder="Usuario 1"/>
                    <button class="btn-create" th:onclick="fetchUser1()">Crear</button>
                </div>
    
                <div id="formTable" style="display:none">
                    <input class="input-user" type="text" placeholder="Usuario 2"/>
                    <input class="input-user" type="text" placeholder="Id tablero"/>
                    <button class="btn-create" type="submit">Añadir</button>
                </div>
            </div>
        </section>

        <section class="board-container">
            <div class="board">
                <div class="column">
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                </div>

                <div class="column">
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                </div>

                <div class="column">
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                </div>

                <div class="column">
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                </div>

                <div class="column">
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                </div>

                <div class="column">
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                </div>

                <div class="column">
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                    <div class="circle-game"></div>
                </div>
                
                
            </div>
            
            <div>
                <div class="opts-container">
                    <div class="turn-section">
                        <p>Turno</p>
                    </div>

                    <button class="new-game">Nueva partida</button>
                </div>


            </div>
    
        </section>

      


    </main>

</body>
</html>